body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image1, .image2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image1 {
  width: 400px;
  float: left;
  margin-right: 15px;
}

.image2 {
  width: 400px;
  float: right;
  margin-left: 15px;
}